<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
    <canvas id="myChart" width="300" height="100"></canvas>
    <script>
        let myCt = document.getElementById('myChart');

        let myChart = new Chart(myCt, {
        type: 'bar',
        data: {
            labels: ['2020', '2021', '2022', '2023'],
            datasets: [
            {
                label: 'Dataset',
                data: [10,20,30,40],
            }
            ]
        },
        });
    </script>
</body>
</html>